# Cloudflare Tunnel
TUNNEL_TOKEN=

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=troque-esta-senha
GF_SERVER_ROOT_URL=https://grafana.seudominio.com/
GF_SERVER_DOMAIN=grafana.seudominio.com
